*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    margin-top: 20px;
    font-family: PlayFair Display;
    font-size: 4vw;
    text-transform: none;
    text-align: center;
}
p{
    line-height: 1.5;
    text-align: center;
}